network:
  version: 2
  renderer: networkd
  ethernets:
    $1$:
      dhcp4: $2$
      addresses: [$3$]
      nameservers:
          addresses: [$4$]
      routes:
      - to: default                     
        via: $5$
        metric: 100
